127.0.0.1     {{ ansible_fqdn }}  {{ ansible_hostname }}
127.0.0.1     localhost
::1           ip6-localhost ip6-loopback
fe00::0       ip6-localnet
ff00::0       ip6-mcastprefix
ff02::1       ip6-allnodes
ff02::2       ip6-allrouters
ff02::3       ip6-allhosts
127.0.1.1     ubuntu-bionic ubuntu-bionic

{% for host in groups['all'] %}
{{ hostvars[host]['ansible_host'] }} {{ host }}.{{ domain }}.{{ tld }} {{ host }}
{% endfor %}
